:root{
    --primary-color: #1B1AFF;
    --accent-color: hsl(240, 100%, 30%);
}


.category-slider_swiper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-slider_custom-prev-button, .category-slider_custom-next-button{
    font-size: 30px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    user-select: none;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-slider_custom-next-button{
    margin-left: 8px;
}

.category-slider_custom-prev-button:hover, .category-slider_custom-next-button:hover{
    color: var(--accent-color)
}


/* item */
.category-slider_category{
    font-size: clamp(14px,2vw,20px);
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
}

.category-slider_icon{
    color: var(--primary-color);
    margin-inline: auto;
    display: block;
}